fastapi==0.115.6
jinja2==3.1.6
uvicorn==0.34.0
python-socketio[asyncio]==5.12.1
python-dotenv==1.0.1
duckdb
numpy==2.2.1
pandas==2.2.3
requests==2.32.3
tradingview-scraper
websockets==16.0
websocket-client==1.9.0
pytz==2024.2
python-dateutil==2.9.0.post0
typing_extensions==4.12.2
pytest
playwright
git+https://github.com/rongardF/tvdatafeed.git
